<html>
<head>

    <title>请登录</title>
    <meta charset="utf-8" />
    <script src="js/jquery-3.4.1.js"></script>
    <script src="layui/layui.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/config.js"></script>
    <script src="js/axios.min.js"></script>

    <link rel="stylesheet" href="css/index.css">
    <script src="js/index.js"></script>
    <script src="js/element.js"></script>
    <script src="js/jquery.cookie.min.js"></script>

<!--    <script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>-->


</head>
<style>

    .form{
        top: 20%;
        margin: 0 auto;
        width: 25%;
        /*left: 38%;*/
    }
    .btm{
        position: relative;
        margin: 0 auto;
        /*width: 15%;*/
        /*left: 28%;*/
    }
    body{
        background-image: url("/img/login_bg.jpg");
    }
    .my_register{
        position:absolute;
        right:0%;
    }
    .my_qq{
        position:absolute;
        margin: 0 auto;
        left: 42%;
    }
    .my_weixin{
        position:absolute;
        margin: 0 auto;
        right: 37%;
    }
    .my_pleas{
        text-align: center;
    }

</style>


<body>
<br/>
<br/>
<br/>

    <div class="my_bg">
        <br />
        <br />

        <h2 class="my_pleas">请登录</h2>

        <br />
        <div class="form" id="form">
            <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="用户名" prop="username">
                  <el-input type="text" v-model="ruleForm.username" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="password">
                  <el-input type="password" v-model="ruleForm.password" autocomplete="off"></el-input>
                </el-form-item>

                <el-form-item>
                  <el-button type="primary" @click="submitForm('ruleForm')">登录</el-button>
                  <el-button class="my_register" @click="resetForm('ruleForm')">注册</el-button>
                </el-form-item>
              </el-form>
        </div>
        <div class="btm">
            <div class="my_qq"><a><img src="img/qq.png"></a></div>
            <div class="my_weixin"><a ><img src="img/weixin.png"></a></div>
        </div>

    </div>




</body>
<script>
    var main= {
      data() {
        var validateUsername = (rule, value, callback) => {
          if (value === '') {
            callback(new Error('请输入用户名'));
          }else {
              callback();
          }
        };
        var validatePassword = (rule, value, callback) => {
          if (value === '') {
            callback(new Error('请输入密码'));
          }else {
              callback();
          }
        };
        return {
          ruleForm: {
            username: '',
            password: ''
          },
          rules: {
            username: [
              { validator: validateUsername, trigger: 'blur' }
            ],
            password: [
              { validator: validatePassword, trigger: 'blur' }
            ]
          }
        };
      },
      methods: {
        submitForm(formName) {
          this.$refs[formName].validate((valid) => {
            if (valid) {
                console.log(this.$data.ruleForm.username);
                axios({
                    url:'/login',
                    method:'post',
                    headers: {'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'},
                    params: {
                        'username': this.$data.ruleForm.username,
                        'password': this.$data.ruleForm.password
                    }
                })
                    .then(function (response) {
                        if(response.data.code==0){
                            window.location='/main.html';
                        }else (
                            alert(response.data.msg)
                        )
                    })
            } else {
              console.log('error submit!!');
              return false;
            }
          });
        },
        resetForm(formName) {
          //this.$refs[formName].resetFields();
            window.location='/register.html';
        }
      }
    }

    var Ctor = Vue.extend(main)
    new Ctor().$mount('#form')

  </script>

</html>




