<html>
<head>
    <title>发布信息</title>
    <meta charset="utf-8" />
    <script src="layui/layui.js"></script>
    <link rel="stylesheet" href="layui/css/layui.css" />
    <script src="js/vue.js"></script>
    <script src="js/config.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/jquery-3.4.1.js" type="text/javascript"></script>
    <script src="js/jquery.cookie.min.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/index.js"></script>
    <script src="js/element.js"></script>


    <style type="text/css">

        .main{
            position: absolute;
            width: 60%;
            top: 15%;
            left: 20%;
        }

        .login-nav{
            float: right;
        }
        
    </style>

</head>

<body>
<ul id="my-layui-top" class="layui-nav" lay-filter="">
    <li class="layui-nav-item layui-this"><a href="/main.html">首页</a></li>
    <!--        <li class="layui-nav-item "><a href="">产品</a></li>-->
    <li class="layui-nav-item"><a href="javascript:;">我是业主</font></a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="/release.html">发布信息</a></dd>
            <dd><a href="/myList.html">我的租赁</a></dd>
        </dl>

    </li>
    <!--        <li class="layui-nav-item"><a href="">大数据</a></li>-->
    <li class="layui-nav-item">
        <a href="javascript:;">解决方案</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a href="">移动模块</a></dd>
            <dd><a href="">后台模版</a></dd>
            <!--                <dd><a href="">电商平台</a></dd>-->
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">最新活动</a></li>
    <li class="layui-nav-item"><a href="">社区</a></li>
    <li class="layui-nav-item" v-show="isadmin"><a href="/console/console.html">控制台</a></li>
    <li class="layui-nav-item"  v-show="notlogin" >
        <!--            v-bind:class="{mylogin : islogin}"-->
        <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">修改信息</a></dd>
            <dd><a href="javascript:;">安全管理</a></dd>
            <dd><a href="javascript:;">退出</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item login-nav" v-show="islogin" ><a href="/login.html">登录</a></li>
    <li class="layui-nav-item login-nav" v-show="islogin" ><a href="/register.html">注册</a></li>
    <li class="layui-nav-item login-nav" v-show="notlogin" ><a href="/logout">退出</a></li>
</ul>

<div id="app" class="main">

    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
        <el-form-item label="标题" prop="title">
            <el-input v-model="ruleForm.title"></el-input>
        </el-form-item>
        <el-form-item label="详细信息" prop="details">
            <el-input style="min-height: 63px;;" rows="10"  type="textarea" v-model="ruleForm.details"></el-input>
        </el-form-item>
        <el-form-item label="价格" prop="price">
            <el-input v-model="ruleForm.price"></el-input>
        </el-form-item>
        <el-form-item label="上传图片" prop="img">
            <!-- <el-input v-model="ruleForm.img"></el-input>
            <input  /> -->
            <el-upload id="upload" ref="upload"
                       action="/other/upload"
                       :on-preview="handlePreview"
                       :on-remove="handleRemove"
                       :before-remove="beforeRemove"
                       :on-success="uploadfun"
                       multiple
                       :limit="1"
                       name="fileName"
                       :on-exceed="handleExceed"
            >
                <el-button slot="trigger" size="small" type="primary">上传图片</el-button>
                <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过2M</div>
            </el-upload>
            <el-input v-model="ruleForm.img" type="hidden"></el-input>
        </el-form-item>



        <el-form-item label="场地类型" prop="type">
            <el-radio-group v-model="ruleForm.type">
                <el-radio value='1' label="1">餐饮</el-radio>
                <el-radio value='2' label="2">商业街</el-radio>
                <el-radio value='3' label="3">娱乐</el-radio>
                <el-radio value='4' label="4">集会</el-radio>
                <el-radio value='5' label="5">竞赛</el-radio>
                <el-radio value='6' label="6">训练</el-radio>
                <el-radio value='7' label="7">其他</el-radio>
            </el-radio-group>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="submitForm('ruleForm')">立即发布</el-button>
            <el-button @click="resetForm('ruleForm')">重置</el-button>
        </el-form-item>
    </el-form>
</div>
</body>
<script>

    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;
    });
    var vm_mylogin=new Vue({              // 控制 登录 我 是否显示
        el:"#my-layui-top",
        data:{
            islogin:false,
            notlogin:true,
            isadmin:false
        },

    });

    $(function () {
        if($.cookie('username')){  //  登录
            vm_mylogin.islogin=false;
            console.log("aaaaa"+$.cookie('username'));
        }else {        //      未登录
            vm_mylogin.islogin=true;
            vm_mylogin.notlogin=false;
        }
        if($.cookie('rid')){

            if($.cookie('rid')==='0'){
                vm_mylogin.isadmin=true;
            }
        }

    })

</script>

<script type="module">

    var Main ={
        data() {
            return {
                ruleForm: {
                    title: '',
                    details: '',
                    price:'',
                    img: '',
                    date2: '',
                    delivery: false,
                    type: '',
                    fileList: []

                },
                rules: {
                    title: [
                        { required: true, message: '请输入标题', trigger: 'blur' },
                        { min: 2, max: 100, message: '长度在 2 个字符以上', trigger: 'blur' }
                    ],
                    type: [
                        {  required: true, message: '请选择一个类型', trigger: 'change' }
                    ],
                    price: [
                        { type:'number', required: true, message: '请正确填写价格', trigger: 'change' ,transform: (value) => Number(value)}
                    ],
                    img: [
                        {required: true, message: '请上传图片', trigger: 'change' }
                    ],
                    details: [
                        { required: true, message: '请填写详细信息', trigger: 'blur' }
                    ]
                }
            };
        },
        methods: {
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    var that=this;
                    if (valid) {

                        axios({
                            method: 'post',
                            url: '/place/save',
                            data: {
                                'title':this.$data.ruleForm.title ,
                                'uid': $.cookie('userid'),
                                'phone':"11111",
                                'details':this.$data.ruleForm.details ,
                                'img':this.$data.ruleForm.img ,
                                'price':this.$data.ruleForm.price ,
                                'type':this.$data.ruleForm.type
                            }
                        }) .then(function (response) {
                            if(response.data.code==0){
                                that.$message({
                                    message: '上传成功',
                                    type: 'success'
                                });
                                setTimeout('window.location="/main.html"',1500)
                            }else {
                                that.$message.error('上传失败');
                            }


                        });

                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            },
            handleExceed(files, fileList) {
                //this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
            },
            beforeRemove(file, fileList) {
                this.$data.ruleForm.img='';
                return this.$confirm(`确定移除 ${ file.name }？`);
            },
            submitUpload() {
                this.$refs.upload.submit();
            },
            uploadfun(response, file, fileList){
                this.$data.ruleForm.img=response.data;
            }
        }
    }

    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){

        var element = layui.element;

//…
    });
      </script>
    

</html>

